body{
    margin: 0;
    padding: 0;
    background: #ccc;
}

/*right left*/
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: right;
    margin: 0;
    padding: 0
}

.nav li{
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}

.nav a{
    text-decoration: none;
    color: #FFF;
    display: block;
    padding-left: 15px;
    border-bottom: 10px solid #888;
    transition: .3s;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a:active{
    background-color: #aaa;
    color: #444;
    cursor: default;
}

.nav li li{
    font-size: .8em;
}

/*style menu for larger screen*/

@media screen and (min-width: 650px){
    .nav li{
        width: 180px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }

    .nav a {
        border-bottom: none;
    }

    .nav > ul > li {
        text-align: center;
    }

    .nav > ul > li > a {
        padding-left: 0px;
    }

    /*Sub menu*/ 

    .nav li ul {
        position: absolute;
        display: none;
        width: inherit;
    }

    .nav li:hover ul {
        display: block;
    }
    .nav li ul li {
        display: block;
    }

}

.test{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.user {
    margin-top: 20px;
}


.su2{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.image{
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /*box-shadow: 0px 0px 20px 5px rgb(106, 179, 33);*/
    overflow: hidden;
    border-radius: 10px solid rgb(224, 120, 46);
}
.image figure img{
    width: 20%;
    height: 300px;
    float: left;
}
.image figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: arm 20s infinite linear;
}

@keyframes arm{
    0%{left: 0%;}
    15%{left: 0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -200%;}
    60%{left: -200%;}
    65%{left: -300%;}
    80%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}

}